body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Roboto Light";
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: #006400;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 70px 15px 70px 15px;
}
#LayoutGrid1 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid1 .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid1 .col-1 {
   float: left;
}
#LayoutGrid1 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 100%;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid1 .col-1 {
   float: none;
   width: 100%;
}
}
#wb_BulletedList1 {
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
}
#wb_BulletedList1 .bullet {
   color: #FFFFFF;
   float: left;
   font-family: "Roboto Light";
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   padding: 0px;
   text-align: left;
   vertical-align: top;
   width: 49px;
}
#wb_BulletedList1 .item {
   margin-left: 51px;
   padding: 0px 0 0px 0;
   vertical-align: top;
}
#wb_BulletedList1 .item0 {
   text-align: left;
}
#wb_BulletedList1 .item1 {
   text-align: left;
}
#wb_BulletedList1 .item2 {
   text-align: left;
}
#wb_BulletedList1 .item3 {
   text-align: left;
}
